# Environment
.env

# Ignore bundler config
/.bundle

# Ignore all default key files
/config/master.key
/config/credentials/*.key

# Ignore logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory
/tmp/pids/*
!/tmp/pids/.keep

# TLS certs
/certs/

# Watchtower state
/.watchtower/

# Ignore storage
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep
